[2015-02-17 23:25] mikearagao opened #1 "Requirement"
<a href="https://github.com/plinioMoreno"><img src="https://avatars.githubusercontent.com/u/3798890?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [plinioMoreno](https://github.com/plinioMoreno)**
_Saturday Feb 07, 2015 at 17:20 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy_control/issues/1_

----

These controllers should act like the yarp o

[2015-02-17 23:25] mikearagao commented on #1
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Sunday Feb 08, 2015 at 13:03 GMT_

----

@plinioMoreno I was thinking about two possibilities:
The first could be changing the source code of the

[2015-02-17 23:25] mikearagao commented on #1
<a href="https://github.com/plinioMoreno"><img src="https://avatars.githubusercontent.com/u/3798890?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [plinioMoreno](https://github.com/plinioMoreno)**
_Sunday Feb 08, 2015 at 14:30 GMT_

----

Actually this hasn't been done yet in the plugins. @mikearagao is
working on that. The second option is the best one, because we wa

[2015-02-17 23:25] mikearagao commented on #1
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Monday Feb 09, 2015 at 00:33 GMT_

----

Ok, the controllers are now working for the head and torso on the ROS side. It's now possible to move th

[2015-02-17 23:25] mikearagao commented on #1
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Monday Feb 09, 2015 at 00:40 GMT_

----

Nice @ruipimentelfigueiredo :smile:

Yeah I think that is the best option. This way we'll have two separate approaches (hopefully!)...

[2015-02-17 23:26] #1 closed

[2015-02-17 23:29] mikearagao opened #2 "Branch for test"
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Wednesday Feb 04, 2015 at 18:58 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/pull/1_

----

changed the pu

[2015-02-17 23:29] mikearagao commented on #2
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Wednesday Feb 04, 2015 at 19:03 GMT_

----

@ruipimentelfigueiredo : just remove the backup file and you can merge it! :smile:

[2015-02-17 23:29] mikearagao commented on #2
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Wednesday Feb 04, 2015 at 19:09 GMT_

----

@mikearagao thanks for your insights! Just made a new commit

[2015-02-17 23:29] mikearagao opened #3 "Reorganizing structure"
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Thursday Feb 05, 2015 at 15:41 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/pull/2_

----

Finished reorgn

[2015-02-17 23:29] mikearagao commented on #3
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 15:47 GMT_

----

Everything is ok for me!

[2015-02-17 23:29] mikearagao opened #4 "added kinematics files and deleted push.sh"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 15:42 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/pull/3_

----

----

_**[mikearagao](https://github.com/mikeara

[2015-02-17 23:29] mikearagao opened #5 "added missing changes"
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Thursday Feb 05, 2015 at 15:55 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/pull/4_

----

----

_**[ruipi

[2015-02-17 23:29] mikearagao opened #6 "Align the URDF's Denavit–Hartenberg parameters with the real robot"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 16:56 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/5_

----

@ruipimentelfigueiredo I'll do this asap! The

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 20:31 GMT_

----

@plinioMoreno we were looking at the translations and it looks like the real robot has a small one on the head that is not on the matla

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 20:35 GMT_

----

@ruipimentelfigueiredo is taking care of this here: 4cb336409b9e57ab652f8d8451458902889d378d

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/plinioMoreno"><img src="https://avatars.githubusercontent.com/u/3798890?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [plinioMoreno](https://github.com/plinioMoreno)**
_Thursday Feb 05, 2015 at 23:03 GMT_

----

We'll see the translation that you talk about tomorrow, I guess it is
the neck pitch (look up/down) but I'm almost sure that it i

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 23:12 GMT_

----

@plinioMoreno it's one that has translations over two different axis, but sure we'll see it tomorrow.

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Friday Feb 06, 2015 at 00:39 GMT_

----

@mikearagao @plinioMoreno Done 8)

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 12, 2015 at 19:01 GMT_

----

Waiting for @plinioMoreno to fix the DH on the matlab description files. @ruipimentelfigueiredo can you take care of this (like before)

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Thursday Feb 12, 2015 at 19:45 GMT_

----

@mikearagao sure, let me know when the matlab files are updated

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Friday Feb 13, 2015 at 16:29 GMT_

----

@ruipimentelfigueiredo ready and merged with master.

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Monday Feb 16, 2015 at 23:17 GMT_

----

Any news on this issue @ruipimentelfigueiredo?

@aba92 is trying to work with Vizzy's simulator (issue https://github.com/vislab-tecnico-

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Tuesday Feb 17, 2015 at 10:28 GMT_

----

@mikearagao I am working on it right now. I will let you know as soon as I finish it :)

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Tuesday Feb 17, 2015 at 13:07 GMT_

----

done with this issue!

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Tuesday Feb 17, 2015 at 13:26 GMT_

----

@mikearagao please check if possible that what I did is correct :D

[2015-02-17 23:29] mikearagao commented on #6
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Tuesday Feb 17, 2015 at 16:38 GMT_

----

Everything seems fine!

[2015-02-17 23:29] mikearagao opened #7 "Update repository name for ROS naming convention"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 17:26 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/6_

----

Substitute the the `-` by `_` on the repositor

[2015-02-17 23:29] mikearagao opened #8 "Update readme instructions"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 17:33 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/7_

----

Look to everything new and try to create a bet

[2015-02-17 23:29] mikearagao opened #9 "Change the names of joints and links to more meaningful ones"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 20:27 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/8_

----

Try to find more descriptive names for the rob

[2015-02-17 23:33] #9 closed

[2015-02-17 23:44] #6 closed

[2015-02-17 23:46] #5 closed

[2015-02-17 23:46] #4 closed

[2015-02-17 23:47] #3 closed

[2015-02-17 23:47] #2 closed

[2015-02-17 23:48] mikearagao commented on #7
@ruipimentelfigueiredo I guess we can close this one right?

[2015-02-17 23:49] mikearagao opened #10 "[CLOSED] Branch for test"
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Wednesday Feb 04, 2015 at 18:58 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/pull/1_

----

changed the pu

[2015-02-17 23:49] mikearagao commented on #10
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Wednesday Feb 04, 2015 at 19:03 GMT_

----

@ruipimentelfigueiredo : just remove the backup file and you can merge it! :smile:

[2015-02-17 23:49] mikearagao commented on #10
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Wednesday Feb 04, 2015 at 19:09 GMT_

----

@mikearagao thanks for your insights! Just made a new commit

[2015-02-17 23:49] mikearagao opened #11 "[CLOSED] Reorganizing structure"
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Thursday Feb 05, 2015 at 15:41 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/pull/2_

----

Finished reorgn

[2015-02-17 23:49] mikearagao commented on #11
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 15:47 GMT_

----

Everything is ok for me!

[2015-02-17 23:49] mikearagao opened #12 "[CLOSED] added kinematics files and deleted push.sh"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 15:42 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/pull/3_

----

----

_**[mikearagao](https://github.com/mikeara

[2015-02-17 23:49] mikearagao opened #13 "[CLOSED] added missing changes"
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Thursday Feb 05, 2015 at 15:55 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/pull/4_

----

----

_**[ruipi

[2015-02-17 23:49] mikearagao opened #14 "[CLOSED] Align the URDF's Denavit–Hartenberg parameters with the real robot"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 16:56 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/5_

----

@ruipimentelfigueiredo I'll do this asap! The

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 20:31 GMT_

----

@plinioMoreno we were looking at the translations and it looks like the real robot has a small one on the head that is not on the matla

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 20:35 GMT_

----

@ruipimentelfigueiredo is taking care of this here: 4cb336409b9e57ab652f8d8451458902889d378d

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/plinioMoreno"><img src="https://avatars.githubusercontent.com/u/3798890?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [plinioMoreno](https://github.com/plinioMoreno)**
_Thursday Feb 05, 2015 at 23:03 GMT_

----

We'll see the translation that you talk about tomorrow, I guess it is
the neck pitch (look up/down) but I'm almost sure that it i

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 23:12 GMT_

----

@plinioMoreno it's one that has translations over two different axis, but sure we'll see it tomorrow.

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Friday Feb 06, 2015 at 00:39 GMT_

----

@mikearagao @plinioMoreno Done 8)

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 12, 2015 at 19:01 GMT_

----

Waiting for @plinioMoreno to fix the DH on the matlab description files. @ruipimentelfigueiredo can you take care of this (like before)

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Thursday Feb 12, 2015 at 19:45 GMT_

----

@mikearagao sure, let me know when the matlab files are updated

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Friday Feb 13, 2015 at 16:29 GMT_

----

@ruipimentelfigueiredo ready and merged with master.

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Monday Feb 16, 2015 at 23:17 GMT_

----

Any news on this issue @ruipimentelfigueiredo?

@aba92 is trying to work with Vizzy's simulator (issue https://github.com/vislab-tecnico-

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Tuesday Feb 17, 2015 at 10:28 GMT_

----

@mikearagao I am working on it right now. I will let you know as soon as I finish it :)

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Tuesday Feb 17, 2015 at 13:07 GMT_

----

done with this issue!

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Tuesday Feb 17, 2015 at 13:26 GMT_

----

@mikearagao please check if possible that what I did is correct :D

[2015-02-17 23:49] mikearagao commented on #14
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Tuesday Feb 17, 2015 at 16:38 GMT_

----

Everything seems fine!

[2015-02-17 23:49] mikearagao opened #15 "Update repository name for ROS naming convention"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 17:26 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/6_

----

Substitute the the `-` by `_` on the repositor

[2015-02-17 23:49] mikearagao opened #16 "Update readme instructions"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 17:33 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/7_

----

Look to everything new and try to create a bet

[2015-02-17 23:51] #10 closed

[2015-02-17 23:51] #11 closed

[2015-02-17 23:51] #12 closed

[2015-02-17 23:51] #13 closed

[2015-02-17 23:51] #15 closed

[2015-02-17 23:51] #16 closed

[2015-02-17 23:52] #14 closed

[2015-02-17 23:53] mikearagao opened #17 "Fix meshes' positions"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 20:36 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/9_

----

Fix the meshes for the new Denavit–Hartenberg

[2015-02-17 23:53] mikearagao commented on #17
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 20:38 GMT_

----

@ruipimentelfigueiredo @plinioMoreno we should do this after closing issue https://github.com/vislab-tecnico-lisboa/vizzy-description/i

[2015-02-17 23:53] mikearagao commented on #17
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Friday Feb 06, 2015 at 00:43 GMT_

----

Now this one and after we can go for issue https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/8

[2015-02-17 23:53] mikearagao commented on #17
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Friday Feb 06, 2015 at 18:31 GMT_

----

With the last commit (9f7ab9ed6bad5906aba3749be4d25f6545e13609) the meshes are now ready to the URDF, almost done with this issue :+1:

[2015-02-17 23:53] mikearagao commented on #17
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Wednesday Feb 11, 2015 at 22:12 GMT_

----

@plinioMoreno This was fixed on last merge: c1a3f13337e64379df1fb85ad2a9fc1ad54b8faa. Master branch updated!

[2015-02-17 23:53] mikearagao commented on #17
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 12, 2015 at 19:04 GMT_

----

@ruipimentelfigueiredo I'll do this after you finish issue https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/5.

[2015-02-17 23:54] mikearagao opened #18 "Change meshes' files name"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 12, 2015 at 00:09 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/18_

---

Align files' names with the links' names.

[2015-02-17 23:54] mikearagao opened #19 "Define the plugins needed for simulation on GAZEBO"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 12, 2015 at 00:11 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/19_

----

[2015-02-17 23:55] mikearagao opened #20 "[CLOSED] Fix neck translation"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Friday Feb 06, 2015 at 13:27 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/12_

----

Fix the neck translation both on the matlab des

[2015-02-17 23:55] mikearagao commented on #20
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Friday Feb 06, 2015 at 15:09 GMT_

----

Now fixing this on the URDF model.

[2015-02-17 23:55] mikearagao commented on #20
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Friday Feb 06, 2015 at 16:45 GMT_

----

Done! Here is the merge: https://github.com/vislab-tecnico-lisboa/vizzy-description/commit/eecc70f2a02f4afc65f192d7022675344dd6e8d9

[2015-02-17 23:55] mikearagao opened #21 "Fix matlab description files"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 12, 2015 at 19:06 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/20_

----

Fix the DH parameters on the matlab descripti

[2015-02-17 23:55] mikearagao commented on #21
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 12, 2015 at 19:08 GMT_

----

@plinioMoreno please tag @ruipimentelfigueiredo after closing this issue so that he can work on issue https://github.com/vislab-tecnico

[2015-02-17 23:55] mikearagao commented on #21
<a href="https://github.com/plinioMoreno"><img src="https://avatars.githubusercontent.com/u/3798890?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [plinioMoreno](https://github.com/plinioMoreno)**
_Friday Feb 13, 2015 at 16:27 GMT_

----

Done!! @ruipimentelfigueiredo go ahead and work on issue
https://github.com/vislab-tecnico-lisboa/vizzy-description/issues/5

[2015-02-17 23:55] #21 closed

[2015-02-17 23:55] #20 closed

[2015-02-17 23:58] mikearagao opened #22 "Fix Denavit–Hartenberg parameters on iKin kinematics description files"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 17:19 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-yarp/issues/7_

----

Edit the kinematic files to align the values with the

[2015-02-17 23:58] mikearagao commented on #22
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 20:40 GMT_

----

@plinioMoreno as we spoke earlier I'll do this on simulation!

[2015-02-17 23:58] mikearagao commented on #22
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 12, 2015 at 00:15 GMT_

----

I'll try to close this tomorrow!

[2015-02-17 23:58] mikearagao commented on #22
<a href="https://github.com/plinioMoreno"><img src="https://avatars.githubusercontent.com/u/3798890?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [plinioMoreno](https://github.com/plinioMoreno)**
_Saturday Feb 14, 2015 at 23:48 GMT_

----

This is done! The head parameters seem to be good, but still need to be tested using the ball tracker

[2015-02-17 23:58] #22 closed

[2015-02-17 23:59] mikearagao opened #23 "Unable to locate package ros-hydro-eband-local-planner"
<a href="https://github.com/aba92"><img src="https://avatars.githubusercontent.com/u/11033365?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [aba92](https://github.com/aba92)**
_Monday Feb 16, 2015 at 18:08 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-simulator/issues/2_

----

Hi!
When trying to install the eband-local-planner, i get the er

[2015-02-17 23:59] mikearagao commented on #23
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Monday Feb 16, 2015 at 23:09 GMT_

----

Hey @aba92!

What version of ROS are you using? Sure it is the hydro version?

We are currently working on a major update for all of Vizz

[2015-02-17 23:59] mikearagao commented on #23
<a href="https://github.com/aba92"><img src="https://avatars.githubusercontent.com/u/11033365?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aba92](https://github.com/aba92)**
_Tuesday Feb 17, 2015 at 08:57 GMT_

----

Actually i'm a IST student and i'm starting a project that needs those libraries. And yes, i'm using the ROS Indigo. Should I wait for next week or in

[2015-02-17 23:59] mikearagao commented on #23
<a href="https://github.com/plinioMoreno"><img src="https://avatars.githubusercontent.com/u/3798890?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [plinioMoreno](https://github.com/plinioMoreno)**
_Tuesday Feb 17, 2015 at 12:15 GMT_

----

Hi @aba92, I guess you only need the mobile platform, don't you? I think @mikearagao is working on the arms and the head, and not

[2015-02-17 23:59] mikearagao commented on #23
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Tuesday Feb 17, 2015 at 13:04 GMT_

----

@aba92 @plinioMoreno the mobile base should work in theory but I guess it won't work by just using the launch files without changes... O

[2015-02-17 23:59] mikearagao commented on #23
<a href="https://github.com/aba92"><img src="https://avatars.githubusercontent.com/u/11033365?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aba92](https://github.com/aba92)**
_Tuesday Feb 17, 2015 at 14:07 GMT_

----

Ok thanks to everyone. I'll downgrade do Ubuntu 12.04 and install the Hydro Version.

[2015-02-18 00:00] mikearagao commented on #23
@aba92 this is the new repository! soon it will be ready for usage!

[2015-02-18 00:01] mikearagao opened #24 "Remove unused files"
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 05, 2015 at 17:46 GMT_
_Originally opened as https://github.com/vislab-tecnico-lisboa/vizzy-navigation/issues/1_

----

Some chat needed to decide what files to remove

[2015-02-18 00:01] mikearagao commented on #24
<a href="https://github.com/mikearagao"><img src="https://avatars.githubusercontent.com/u/3957350?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mikearagao](https://github.com/mikearagao)**
_Thursday Feb 12, 2015 at 00:20 GMT_

----

@ruipimentelfigueiredo I will ask for your help to decide what to remove from this package (unused launch files) and also to clean the

[2015-02-18 00:01] mikearagao commented on #24
<a href="https://github.com/ruipimentelfigueiredo"><img src="https://avatars.githubusercontent.com/u/7000119?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ruipimentelfigueiredo](https://github.com/ruipimentelfigueiredo)**
_Thursday Feb 12, 2015 at 08:17 GMT_

----

@mikearagao ok

[2015-02-18 15:55] #7 closed

[2015-02-18 15:57] mikearagao commented on #19
@ruipimentelfigueiredo since we have already both yarp and ros control I guess we have this settled. Closing this!

[2015-02-18 15:57] #19 closed

[2015-02-18 16:13] mikearagao commented on #17
Done here #26

[2015-02-18 16:13] #17 closed

[2015-02-18 16:31] mikearagao opened #27 "Update readme file for vizzy_control"
Write all the instructions and important stuff about the package.

[2015-02-18 18:18] mikearagao opened #29 "Create launches for most common usage"
Create several launches for the most common tasks like gmapping, navigation on pre-obtained maps, upperbody control and so on.

[2015-02-19 18:44] mikearagao opened #32 "Error: Couldn't find filter of type vizzy_sensors/NanToInfFilter"

[2015-02-19 19:09] mikearagao commented on #32
@ruipimentelfigueiredo remember this error? You thought it might be from your setup (ros indigo) but I had it on mine also (ros hydro). I have fixed it for mine and I have already commited it but not pushed it yet. Need to test it on ROS indigo! Will do it on my laptop!

[2015-02-19 19:21] mikearagao commented on #32
Fixed here https://github.com/vislab-tecnico-lisboa/vizzy/commit/f0b14e3393e216cd270da1b60fd7b346aec3b871.

[2015-02-19 19:21] mikearagao commented on #32
Not merged with master, closing after merge!

[2015-02-20 03:13] mikearagao commented on #29
Filter added... Missing navigation options (gmapping and move_base)!

[2015-02-22 17:41] mikearagao commented on #32
This is now fixed!

[2015-02-22 17:41] #32 closed

[2015-02-22 17:42] mikearagao commented on #29
I guess we can close this for now... Navigation and overall control with working launches for simulation.

[2015-02-22 17:42] #29 closed

[2015-02-22 20:44] mikearagao commented on #23
Hi @aba92! At last some good news... The repo is ready (at least to start being tested by others)...

Please download this one and just delete everything you had before!

Glad to help on the issues that will come - just post them as you face them.

[2015-02-22 20:44] #23 closed

[2015-02-22 20:57] #8 closed

[2015-02-22 20:57] #27 closed

[2015-03-06 16:32] mikearagao opened #38 "Need to install OpenCV for cameras usage"
@aba92 please start posting your issues on this repository... We will delete the old ones soon :smile:

[2015-03-06 16:36] mikearagao commented on #38
Not sure about this... I've only performed the most basic actions with the cameras and I don't have OpenCV installed on my system. Maybe @plinioMoreno and @ruipimentelfigueiredo can give better feedback on this! :+1:

[2015-03-06 17:16] ruipimentelfigueiredo commented on #38
Hi @aba92. In principe you don't need to install opencv in order to use vizzy in gazebo. However if you intend to do some image processing, for sure you will need it. By doing rosdep install vizzy_package_name your telling your ubuntu OS to install all the needed dependencies via apt-get. If you done that you should be fine. If you are interested in knowing the vizzy packages dependencies, please

[2015-03-06 17:42] aba92 commented on #38
So probably i'll need to install it, since i'll have to do some image processing. Thank you. :)

[2015-03-08 23:03] plinioMoreno commented on #38
Hi Aba,

 From what we talked with Prof. Alexandre, I think you need to install
OpenCV. But you can install the package that is integrated within ROS,
which is the easiest way of doing it and works most of the times.

On 3/6/2015 5:42 PM, aba92 wrote:

--
___________________

Plinio Moreno López
http://www.isr.ist.utl.pt/~plinio
plinio@isr.tecnico.ulisboa.pt
___________________

[2015-03-08 23:05] plinioMoreno commented on #38
Very good explanation @ruipimentelfigueiredo!

On 3/6/2015 5:16 PM, Rui Miguel Horta Pimentel de Figueiredo wrote:

--
___________________

Plinio Moreno López
http://www.isr.ist.utl.pt/~plinio
plinio@isr.tecnico.ulisboa.pt
___________________

[2015-03-09 09:14] aba92 commented on #38
@plinioMoreno are you talking about vision_opencv package? But it is not just a bridge between ros and openCV? In other words, it works without openCV?

[2015-03-09 09:58] ruipimentelfigueiredo commented on #38
@aba92 yes. After ROS groovy (if i recall correctly) ROS started using the
opencv that comes with your OS. And yes, vision_opencv and cv_brigde are
just packages for interfacing ROS with opencv.

On Mon, Mar 9, 2015 at 9:14 AM, aba92 <notifications@github.com> wrote:

[2015-03-09 11:14] aba92 commented on #38
Thank you @ruipimentelfigueiredo

[2015-03-16 23:20] mikearagao commented on #38
@aba92 closing this issue. Feel free to open it in case you need more help!

[2015-03-16 23:20] #38 closed

[2015-06-25 18:18] pedrommarques opened #39 "Error on running vizzy_simulation.launch when the flag use_yarp:=true"
After downloading the content of the whole Vizzy repository, when I tried to run, I got the following error
##
$ roslaunch vizzy_launch vizzy_simulation.launch use_yarp:=true navigation:=true

< a lot of stuff and then the error >
roslaunch.substitution_args.ArgException: use_yarp
while processing /home/pedro/catworkspace/src/vizzy-master/vizzy_moveit_config/launch/moveit.launch:
while processing

[2015-06-26 10:39] plinioMoreno commented on #39
Hi @pedrommarques,

please change one of the flags to use_yarp:=false and try it again. I just tested and it is working properly. The only errors that you should see are as follows:

Error [Param.cc:181] Unable to set value [1,0471975511965976] for key[horizontal_fov]
Error [Param.cc:181] Unable to set value [0,100000001] for key[near]

On the rviz interface, you should be able to see the left and

[2015-06-27 15:21] pedrommarques commented on #39
Even with use_yarp:=false , i still get a similar error:

roslaunch.substitution_args.ArgException: use_yarp
while processing /home/pedro/catworkspace/src/vizzy-master/vizzy_moveit_config/launch/moveit.launch:
while processing /home/pedro/catworkspace/src/vizzy-master/vizzy_moveit_config/launch/planning_context.launch:
Invalid <param> tag: Cannot load command parameter [robot_description]: command

[2015-06-27 15:58] ruipimentelfigueiredo commented on #39
Hi @pedrommarques,

First of all welcome to the vizzy development github repository!

My first guess is that you don't have moveit installed on your PC. Recently we integrated moveit in vizzy.

Please install the missing dependencies with the following command rosdep install vizzy_moveit_config. This should work out. If it does not and assuming you are using Indigo, please install it with the foll

[2015-06-29 15:03] pedrommarques commented on #39
You were right @ruipimentelfigueiredo , I did not have moveit installed. But I do now, and the error remains exactly the same, with yarp:=false or true .

[2015-06-29 15:14] plinioMoreno commented on #39
Hi @pedrommarques ,

from the ouput:

"Invalid tag: Cannot load command parameter [robot_description]: command [/opt/ros/hydro/share/xacro/xacro.py '/home/pedro/catworkspace/src/vizzy-master/vizzy_description/robots/vizzy.urdf.xacro'] returned with code [1]."

It looks like you have set the ROS "hydro" version as the running one (because the xacro.py is from that version). Is that correct? If this

[2015-06-29 15:16] pedrommarques commented on #39
That is correct @plinioMoreno . My current ROS version is Hydro, since on the readme page it says that it is the only current fully supported ROS release. So I should upgrade to indigo in order to work with this Vizzy package?

[2015-06-29 15:27] plinioMoreno commented on #39
There have been developments after @mikearagao left. I would suggest to upgrade to indigo and try it again. If it does not work, we can meet to see what is happening.

[2015-06-30 20:42] #39 closed

[2015-10-13 11:17] plinioMoreno opened #41 "Add realistic navigation algorithm in simulation"
The current navigation algorithm in simulation is the "fake_localization", which for initial debugging was very useful, but for testing code for the real robot does not consider the execution times of the amcl in the real robot.

The amcl should be available in simulation, in order to have a more realistic simulation of the navigation algorithm.

[2015-10-19 14:56] ruipimentelfigueiredo opened #42 "Fixation point and ball position (from yarp to ROS)"
We should use Miguel Aragão's master thesis work to send vizzy's current fixation point  (provided by the Ikin gaze controller) and the ball position (provided by Matteo's ball tracker) to ROS side, for visualization purposes.

[2015-10-19 16:48] ruipimentelfigueiredo opened #43 "Wrong transformation from base_link to waist"
Need to find the offset in the base_link to waist transformation, that is messing with the ikin gaze controller

[2015-10-20 10:49] #41 closed

[2016-01-25 18:36] plinioMoreno commented on #43
Commit eb36c6551a4c09b6168544f45eb6f6fa6e0ee9d8 tested the fix

[2016-01-25 18:37] #43 closed

[2016-01-25 18:42] plinioMoreno commented on #42
Commit 2de8fdbf5dc70ca5f57f554f258776d03eb28d10 adds the first version of the automatically generated code. The current version of the bridges were created using [the yarp-bottle-generator](https://github.com/vislab-tecnico-lisboa/yarp-bottle-generator/commit/42c97eaedf7361504466f7585dd360edba801d18)

[2016-01-25 18:42] #42 closed

[2016-01-25 18:44] plinioMoreno opened #44 "Update the urdf files of the left and right arms to add an angle offset of the elbow joints"
The offset parameter of the DH parameters of the elbow joint need to be updated (5deg). The corresponding transform needs to be updated.

[2016-02-15 18:42] gsaponaro opened #45 "Move large map files to Git Large File Storage"
Hi @plinioMoreno @ruipimentelfigueiredo @joao-avelino!

I noticed that the whole vizzy repository takes about 200MB at the moment, the majority of which due to the larges files in vizzy_navigation/maps (115MB).

Suggestion: host those large files elsewhere using [Git Large File Storage](https://git-lfs.github.com), which looks like a nice possibility for these cases. Cloning/Working with the vizzy

[2016-02-15 18:42] gsaponaro commented on #24
Making the repository smaller seems like a good idea :) see also https://github.com/vislab-tecnico-lisboa/vizzy/issues/45

[2016-02-15 19:03] gsaponaro commented on #45
Other large-ish directories are:
* vizzy_gazebo/media/others/models (18MB)
* vizzy_gazebo/media/models (6MB)
* vizzy_robot/calibration_data (13MB)
* vizzy_description/meshes (13MB)

[2016-06-22 01:18] ruipimentelfigueiredo opened #46 "Update URDFs with the hands' models and with correctly placed meshes"

[2016-06-22 01:19] ruipimentelfigueiredo opened #47 "Finish ROS/YARP motor command, hardwired interfaces"

[2016-11-21 14:28] plinioMoreno opened #50 "Remove dependency of messages from Human Awareness"
In id_selector

[2017-03-23 17:53] gsaponaro opened #52 "Vizzy manual and documentation"
Hi @plinioMoreno (+ @ruipimentelfigueiredo @joao-avelino),

Last summer, we started copying the documentation of Vizzy on the wiki associated to this repository, here:
https://github.com/vislab-tecnico-lisboa/vizzy/wiki

Personally, I think it would be good to put the remaining documentation (i.e., the PDF manual) on the wiki too, in order to (1) have it all in one place, (2) make it easily and qu

[2017-03-23 18:31] plinioMoreno commented on #52
The source of the manual ( which is outdated ) is on the vislablisboa google drive account. I just shared the document with you, and in the near future we can copy the text and update the manual in the wiki.

[2017-03-23 18:37] gsaponaro commented on #52
Cool, thanks. I want to help with both things (updating and copying/moving the text). It is not necessary for the text to be perfect in order to do the copying - we can do the improvements incrementally. In any case, tomorrow we can talk about it.

PS: some of the issues at https://github.com/vislab-tecnico-lisboa/vizzy/issues can probably be closed due to being outdated too.

[2017-03-27 22:18] gsaponaro commented on #52
The "How to start Vizzy up" manual has now been ported here:

https://github.com/vislab-tecnico-lisboa/vizzy/wiki/How-to-start-Vizzy-up

[2017-03-28 10:23] plinioMoreno commented on #52
Thanks @gsaponaro !! It looks very good. I'll start doing updates to the manual during this week

[2017-05-22 11:39] joao-avelino opened #53 "Change local planner"
Update the local planner from the eband (Elastic Band) local planner to the teb_local_planner (Timed Elastic Band)

[2017-05-22 12:56] ruipimentelfigueiredo commented on #53
@joao-avelino Regarding the global planner. Have you seen this one http://wiki.ros.org/global_planner ?

[2017-06-19 16:49] gsaponaro commented on #52
Hi @plinioMoreno, as discussed face to face, I have now removed the old Google document "How to start Vizzy up", in favour of the wiki page https://github.com/vislab-tecnico-lisboa/vizzy/wiki/How-to-start-Vizzy-up which contains all the old Google Doc content + some recent addition from two weeks ago by @joao-avelino. Closing this issue.

[2017-06-19 16:49] #52 closed

[2017-07-06 09:47] vicentepedro opened #54 "[iKinGazeCtrl] Fix "random" spikes during control"
The Gaze changes abruptly during some demos when the points are sent in a continuous way.

Possible problems:

- Target points with strange values.
- Bridge ROS/YARP, since this happens when controlling from ROS (we need to test with YARP).
- YARP BufferedPort reads only the last value (this can explain spikes during a sine trajectory).
- The operating system is not controlling in real time.

/cc

[2017-07-06 11:06] joao-avelino opened #55 "[Doc] Vizzy hardware"
Add documentation regarding Vizzy's hardware

[2017-07-17 22:15] plinioMoreno commented on #54
During the demo at the AHA project review meeting, the Gaze behavior was happening due to a wrong ROS network configuration (the env. var. ROS_MASTER_URI was not set properly), which caused network delays.

So, the bridge ROS/YARP is the first option to check [fixationPointActionBridge](https://github.com/vislab-tecnico-lisboa/vizzy/blob/master/vizzy_yarp_icub/src/examples/iKinGaze_ROS_bridge/Fixa

[2017-07-19 22:56] joao-avelino commented on #54
@plinioMoreno Did not solve the problem. The strange Gaze behavior is still happening at random times :(

[2017-07-25 04:19] plinioMoreno commented on #54
Okay. Do you want to test a small change at [Line 41 of FixationPointRosAction.cpp ](https://github.com/vislab-tecnico-lisboa/vizzy/blob/master/vizzy_yarp_icub/src/examples/iKinGaze_ROS_bridge/FixationPointRosAction.cpp#L41), changing ```write()``` to ```writeStrict()```. You can play with both the buffer big and small on the ROS side.

If this does not change the behavior, then you will have to r

[2017-07-27 16:10] gsaponaro commented on #54
Just a small update on this matter:

Yesterday we tried the following approaches in the code for **FixationPointActionBridge**. Unfortunately, neither of them solved the problem:
- changing `write()` to `writeStrict()`
- changing the non-blocking read in the main spinning loop (i.e., `BufferedPort::read(false)` followed by a small delay at the end of the loop) to a blocking read (i.e., `BufferedPo

[2017-08-17 16:04] joao-avelino opened #57 "[Vizzy simulation] incorrect camera frame id"
The camera frame_id published on the camera_info topic is incorrect. The correct one should be "*_camera_vision_link" instead of  "*_camera_link".

[2017-08-23 22:01] joao-avelino opened #58 "[Vizzy real/laptop] Time synchronization"
If the clocks on Vizzy and a networked device (laptop for instance) are not synchronized tf's throw an exception.

The solution is here: http://wiki.ros.org/ROS/NetworkSetup#Timing_issues.2C_TF_complaining_about_extrapolation_into_the_future.3F

[2017-09-05 19:21] ruipimentelfigueiredo opened #59 "[vizzy-simulation] vizzy base slips over time"

[2017-09-05 19:27] ruipimentelfigueiredo opened #60 "[vizzy] Make vizzy description more modular"

[2017-09-09 14:41] jsbruglie opened #61 "[vizzy-navigation] Obstacles persist in global costmap in simulation"
Global cost map accumulates obstacle reports over time in simulation.
Vizzy fails to plan its navigation trajectories due to detecting objects even after they are removed.

[2017-09-11 16:08] jsbruglie opened #62 "Simplify robot collision model"
The simulated robot is currently checking collisions with the high-polygon count meshes instead of using a simpler blocky model.
This may be why the performance is so low with gazebo.
Essentially means the urdf must be revised.

[2017-09-11 16:09] jsbruglie commented on #62
I will use a bottom up approach. I'll start with the robot base and move on from there.

[2017-09-28 16:35] jsbruglie opened #64 "Regenerate MoveIt! config files"
Following the changes made in the `gazebo-performance` branch, since the urdf has been changed, the MoveIt! package needs to be regenerated before it can work once again.
Preferably we could have two versions: one which uses a simplified model of the hand and another with a more detailed mesh for collision (maybe even capable of grasping experiments).
As of right now, the detailed hand is not yet

[2017-09-28 17:28] #59 closed

[2017-09-28 17:28] #62 closed

[2017-09-28 17:28] #60 closed

[2017-09-28 20:46] ruipimentelfigueiredo opened #68 "gazebo differential drive plugin"
right and left wheel joints have to be switch for the plugin to work properly. Need to find the cause

[2017-10-11 15:23] ruipimentelfigueiredo opened #69 "tune simulated PID controllers' parameters"

[2017-10-11 17:25] #69 closed

[2017-10-12 08:37] jsbruglie commented on #18
Fixed this recently in the `gazebo_performance`.
Closing.

[2017-10-12 08:37] #18 closed

[2017-10-12 08:47] gsaponaro commented on #18
Cool @jsbruglie , solving long standing issues! :)

Just a small suggestion: it may be useful to cross-reference the precise commit where the fix was done. For instance: "fixed in https://github.com/vislab-tecnico-lisboa/vizzy/commit/d86d40d86b9e6a111076b635231d108bfb983c15" (just an example). This would be more precise and informative (the user would click and read the actual changed code) compar

[2017-11-14 23:44] plinioMoreno opened #71 "Select and purchase new cameras"
Search for new cameras that fit in the eyes @rnun3s @plinioMoreno

[2017-11-14 23:49] plinioMoreno opened #72 "Check 14.04 installation for missing commits"
Check 14.04 installation for missing commits at [robots-configuration](http://github.com/robotology/robots-configuration)

[2017-11-14 23:51] plinioMoreno commented on #72
Added yarpmotorgui trajectories to [vizzy-yarpmotorgui-traj-files](https://github.com/vislab-tecnico-lisboa/vizzy-yarpmotorgui-traj-files)

[2017-11-14 23:51] #72 closed

[2017-11-14 23:56] plinioMoreno opened #73 "Document the Vizzy desktop installation"
During the installation of Ubuntu 16.04 document the steps
@plinioMoreno, @joao-avelino

[2017-11-15 11:38] joao-avelino opened #74 "Replace old laser scanner packages"
The hokuyo laser scanner package is deprecated. There is a new package that should be used: http://wiki.ros.org/urg_node

[2017-11-15 19:55] #71 closed

[2017-11-15 20:34] gsaponaro commented on #71
Out of curiosity, what was the final decision on this? E.g., model name.

[2017-11-16 10:20] rnun3s commented on #71
**Brand:** IDS
**Model:** UI-3881LE
**Specs:** USB 3.1, CMOS, 58.7 fps, 3088 x 2076, 6.41 MPix, 1/1.8" Sony, Rolling Shutter

[2017-11-16 17:58] plinioMoreno commented on #54
In order to check if the problem was on the bridge, I used the following code that sends the points in YARP directly to the gaze controller:

[code]
The problem persists, so the issue now is on the iKinGazeCtrl side. To alleviate the problem (it happens less frequently), the frequency of the point sender should be reduced to 10Hz. However, the frequency is not the only variable in this problem, th

[2017-11-30 02:05] plinioMoreno commented on #74
Upgraded to urg_node in 7752af0455ddeff0fc832ba034fba5415e31439e

[2017-11-30 02:05] #74 closed

[2017-11-30 02:08] plinioMoreno commented on #73
The installation procedure is documented in [this page](https://github.com/vislab-tecnico-lisboa/vizzy/wiki/Vizzy-desktop-installation)

[2017-11-30 02:08] #73 closed

[2018-01-05 18:11] plinioMoreno commented on #46
Please @jsbruglie check the difference between the current files in the master branch (meshes + urdf) vs. the ones generated today by @vicentepedro and @rnun3s, and then test both on them on the robot.

@rnun3s is creating the left hand, so on the next week we should get rid of this issue.

[2018-01-16 16:02] vicentepedro opened #75 "Removing Old/New files of arm Gesture"
Hi @joao-avelino

Can you check if it makes sense to maintain these files on the repo:

`/vizzy_yarp_icub/src/modules/armGesture/src/vizzyArmRoutines.cpp_new`
`/vizzy_yarp_icub/src/modules/armGesture/include/vizzyArmRoutines.h_new`

If I remember correctly, this was the first attempt to change the arm gesture module by J. Salvado.

Best,
Pedro

[2018-01-16 16:04] joao-avelino commented on #75
Yeah. Those can be deleted.

Em 16/01/2018 4:02 da tarde, "vicentepedro" <notifications@github.com>
escreveu:

[2018-01-16 16:14] vicentepedro commented on #46
@ruipimentelfigueiredo pointed out: It's important to maintain the convention used in the older hand version to simplify the rest of the 'new hands' integration process (moveit, controllers, etc...)
@jsbruglie can you check this? and let me know if there is a huge mismatch. Then, I and @rnun3s can change the joint names in the generation of the URDF (in solid works) as well, to have a smoother gen

[2018-01-16 16:21] #75 closed

[2018-01-17 10:00] vicentepedro opened #76 "[armGesture] Control the arm using velocity control"
Control the arm using velocity control (by default).

/cc @joao-avelino

[2018-01-26 18:55] plinioMoreno opened #77 "Fake localization node does not work with move_base"
Since the recent update to ros-kinetic, the fake localization node does not work as expected with the move_base navigation. The robot goes through the obstacles and gets stuck at some point.

Now the default is the amcl, as set in 4fefae18aaec05578e1692b2506b38c38ef81738, and performs similar to the real robot
@joao-avelino @ruipimentelfigueiredo

[2018-02-01 00:28] plinioMoreno commented on #47
Implementing this interfaces requires a large low-level code that will take too long to implement, so bridges between YARP and ROS are begin implemented currently (e.g. the [follow trajectory bridge](https://github.com/vislab-tecnico-lisboa/vizzy/blob/master/vizzy_yarp_icub/src/modules/motorInterfaceFromRos/follow_trajectory_action_bridge.cpp) for moveit.

[2018-02-01 00:28] #47 closed

[2018-02-01 00:34] plinioMoreno commented on #50
Thanks @joao-avelino for fixing this in commit 6f95845cafd65426f6c1056cf0ff2757424a15d1

[2018-02-01 00:34] #50 closed

[2018-02-01 00:40] plinioMoreno commented on #44
Thanks @ruipimentelfigueiredo for fixing this in commit b5ab23b9a1cad47fa75eb237d7b320a22134457f

[2018-02-01 00:40] #44 closed

[2018-02-01 00:55] plinioMoreno commented on #58
Moved to the [troubleshooting guide section](https://github.com/vislab-tecnico-lisboa/vizzy/wiki/How-to-start-Vizzy-up#troubleshooting) of How to start Vizzy, thanks @joao-avelino for the information

[2018-02-01 00:55] #58 closed

[2018-02-01 01:10] plinioMoreno commented on #61
I run into this problem with @joao-avelino, and there are two issues here: (1) Fake localization is not working proprely (#77) and (2) when the robot is not localized properly, ghost obstacles appear and have to be cleared by [calling the service that clears the global costmap](https://answers.ros.org/question/267485/local_costmap-ghost-objects-restarting-move_base/)

Currently Vizzy simulated is

[2018-03-12 17:15] gsaponaro commented on #45
Hi @plinioMoreno

Related to this issue: I just made a fresh clone of the **vizzy** repository on my machine, it now takes up **529MB** of space and it took several minutes for cloning. If you want to make this repository slimmer (if you see a benefit for it), there are mainly two avenues: (1) clean up the repository history (e.g., remove deleted files, check out `git gc` or garbage collection com

[2018-03-12 17:29] plinioMoreno commented on #45
Thanks for the reminder @gsaponaro, I will do a cleanup soon and very likely move the vizzy_navigation/maps and vizzy_description to the large files repository.

[2018-05-03 18:39] jsbruglie commented on #68
For some reason differential drive controller requires left and righted wheel joints to be swapped in order to function properly.
This can also be seen in the original robot description of [Segbot](http://wiki.ros.org/segbot) as seen in [segbot.gazebo.xacro](https://github.com/utexas-bwi/segbot/blob/master/segbot_description/gazebo/segbot.gazebo.xacro).
Closing this.

[2018-05-03 18:39] #68 closed

[2018-05-14 13:38] plinioMoreno commented on #77
This issue is related to the fact that the odometry was not computed properly. Commit cac2f3ce7179535765969c6b60f1e0121cfeb3d1 by @joao-avelino alleviates the problem, and now fake localization works well for small values of velocity.

[2018-05-14 14:18] plinioMoreno opened #84 "Tactile sensor documentation and troubleshooting @tpaulino7"

[2018-05-28 14:57] jsbruglie commented on #57
@joao-avelino Is [this](https://github.com/vislab-tecnico-lisboa/vizzy/blob/2ac3533aa90d2056459109fa2f91fc76be196d47/vizzy_description/plugins/ros.gazebo.xacro#L105) what you mean?

[2018-05-30 14:34] #57 closed

[2018-07-25 14:42] science-code commented on #64
@jsbruglie was there any progress on this issue?

[2018-07-25 15:01] jsbruglie commented on #64
Not really. This seems easy to do, but there is some older code using MoveIt! which I am unsure how to test. As some parts of the model have changed (even though the name of the joints was not changed) it is possible that some of these demos break. In any case, as of right now the MoveIt! package no longer works with the current main branch URDF and is not being used.

[2018-11-09 11:41] joao-avelino opened #98 "Replace MoveBase with MoveBaseFlex"
http://wiki.ros.org/move_base_flex

https://vimeo.com/236174072

[2018-12-14 23:07] plinioMoreno commented on #54
By using the gaze client in commit dbfb14a78940ecb6225b38972066632c35fb50c5, this issue is finally gone for good.

"No hay mal que dure cien años ni cuerpo que lo resista"

[2018-12-14 23:07] #54 closed

[2019-02-21 12:46] vicentepedro opened #107 "[ROS_action_bridge] Torso home position shoud be set from Config File"
The angle of the torso home position should be set from a script file:

https://github.com/vislab-tecnico-lisboa/vizzy/blob/56ea9e1738dc0274af3a332e027cc4ad5e337785/vizzy_yarp_icub/src/modules/motorInterfaceFromRos/cartesian_controller_action_bridge.cpp#L330

[2019-05-23 15:17] jsbruglie commented on #46
Has this not been fixed :P ?

[2019-06-11 23:22] plinioMoreno commented on #45
Following your suggestion @gsaponaro, we moved all the extra maps to the repository https://github.com/vislab-tecnico-lisboa/extra_maps, and now this extra_maps repository is a submodule. Next step will be execute `git gc` and check for other large files.

[2019-06-12 08:41] gsaponaro commented on #45
Sounds good. Thanks for letting me know!

[2020-03-05 19:10] joao-avelino commented on #53
Addressed on @ #118 . Thanks @ruipimentelfigueiredo for global planner indication.

Once someone accepts tests it and accepts the pull request we can close this issue.

[2020-03-06 11:38] #53 closed

[2020-03-06 11:46] joao-avelino commented on #77
#117 solved this problem.

[2020-03-06 11:46] #77 closed

[2020-03-06 12:03] plinioMoreno commented on #77
Thanks @joao-avelino !

[2020-03-06 19:26] joao-avelino commented on #98
Done. PR: #119

[2020-03-06 19:27] #98 closed

[2020-03-14 11:10] plinioMoreno opened #125 "[melodic-devel branch] Remove/update location lines from vizzy_navigation/CMakeLists.txt"
The launchers of deprecated move_base need to be removed/updated (melodic-devel branch)

https://github.com/vislab-tecnico-lisboa/vizzy/blob/melodic-devel/vizzy_navigation/CMakeLists.txt#L148

[2020-03-14 12:45] joao-avelino commented on #125
Solved on 5bdc17ae7e3f68ddf217db1c9eca32169ee054d1 . I merged all the fixes of master into melodic-devel.

[2020-03-14 12:45] #125 closed

[2021-10-20 01:31] plinioMoreno opened #136 "Update launchers - change IP address to hostname"
As introduced in #135 for vizzy_real.launch, other launch files need to be updated to use the hostname vizzy-desktop.local